* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
}

body {
    width: 100%;
}

a{
    text-decoration-line: none;
    color: cornflowerblue;
}

a:hover{
    text-decoration-line: underline;
}

nav, #home, a{
    height: 4em;
}

nav{
    position: fixed;
    width: 100%;
    background: lightblue;
}

#home{
    width: 16.6%;
    padding: 0.5em 0 0.25em 0;
    border: darkcyan solid 1px;
    background: black;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

i{
    font-size: 2em;
    padding-top: 0.1em;
}

nav a{
    font-size: 2em;
    width: 16.6%;
    padding: 1.2em 0 0 0;
    display: inline-block;
    border: darkcyan solid 1px;
    margin-left: -3px;
}

#cobra{
    background: indigo;
}

#double{
    background: darkblue;
}

#king{
    background: blue;
}

#shark{
    background: lightblue;
}

#snake{
    background: cyan;
}

#madMax{
    background: teal;
}

@media screen and (max-width: 850px) {
    nav a{
        font-size: 1.5em;
    }
}

@media screen and (max-width: 630px){
    nav a{
        font-size: 1em;
    }
}

@media screen and (max-width: 450px){
    #home{
        position: relative;
        display: block;
    }
    nav a{
        display: none
    }

    nav:hover a{
        display: block;
        font-size: 1.5em;
        width: 50%;
    }

    i:hover{
        animation-name: turn;
        animation-duration: 1s;
    }

    @keyframes turn {
        from{
            transform: rotate(0);
        }
        to{
            transform: rotate(90deg);
        }
    }
}

